# Ambientes Virtuais Python
venv/
.venv/
env/
.Scripts/
Scripts/
.Lib/
Lib/
.Include/
Include/

# Configurações 
.vscode/

# Aquivo dados locais
backend/data/ideias.json

# Arquivos e diretórios gerados pelo Python
# Pastas de bytecode
__pycache__/
# Arquivos de bytecode compilado
*.pyc

