version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    container_name: frontend
    build: 
      context: frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:80"
    networks:
      - app-network

# Name of the composed project
name: sistema_benchmark_montadoras

networks:
  app-network:
    driver: bridge
